<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wuye.piaoliuim">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
      <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
     <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-sdk tools:overrideLibrary="tv.danmaku.ijk.media.player_arm64, tv.danmaku.ijk.media.player_x86_64"/>
    <application
        android:name=".WuyeApplicatione"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:requestLegacyExternalStorage="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/wuyeTheam">

        <activity android:name=".activity.IndexAct"
            android:launchMode="singleTask"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="com.zlw.main.recorderlib.recorder.RecordService"
            />
        <activity android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <!--这里填写你申请的app id-->
                <data android:scheme="wx4b25184c83dbca16" />
            </intent-filter>
        </activity>
        <activity android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <!--这里填写你申请的app id-->
                <data android:scheme="wx4b25184c83dbca16" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MyActivity"
            android:launchMode="singleTask"
            />
        <activity android:name=".activity.RechangeAct"/>
        <activity android:name=".activity.OpinionAct"/>
        <activity android:name=".activity.LiwuAct"/>
        <activity android:name=".activity.SettingAct"/>
        <activity android:name=".activity.BlackList"/>
        <activity android:name=".activity.ChangePhoneAct"/>
        <activity android:name=".activity.ResetPswAct"/>
        <activity android:name=".activity.FinsActivity"/>
        <activity android:name=".activity.MyLoveAct"/>
        <activity android:name=".activity.MyZhangDanAct"/>
        <activity android:name=".activity.EditInfoAct"/>
        <activity android:name=".activity.UserInfoAct"/>
        <activity android:name=".activity.JubaoAct"/>
        <activity android:name=".activity.FangdaPicAct"/>
        <activity android:name=".activity.PaihangAct"/>
        <activity android:name=".activity.SendTxtAndYuyinAct"/>
        <activity android:name=".activity.SendYuyinAct"/>
        <activity android:name=".activity.LiwuTsetAct"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".login.LoginActivity"
            android:launchMode="singleTask"
            />
        <activity android:name=".activity.SendTextAct"/>
        <activity android:name=".activity.LiuLanAct"/>
        <activity android:name=".login.PswLogin"/>
        <activity android:name=".activity.SubMitPay"/>
         <activity android:name=".activity.TestHeixiu"/>
         <activity android:name=".activity.BindPhone"/>
         <activity android:name=".activity.TEstIm"/>
         <activity android:name=".activity.SysMessageAct"/>
         <!--//聊天-->
         <activity
             android:name=".activity.ChatActivity"
             android:launchMode="singleTask"
             android:screenOrientation="portrait"
             android:windowSoftInputMode="adjustResize|stateHidden"/>

     </application>

</manifest>