<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wuye.piaoliuim">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:name=".WuyeApplicatione"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/wuyeTheam">
        <activity android:name=".MainActivity"
            android:launchMode="singleTask"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="com.zlw.main.recorderlib.recorder.RecordService"
            android:enabled="true"
            android:exported="false" />
        <activity android:name=".login.LoginActivity"/>
        <activity android:name=".activity.RechangeAct"/>
        <activity android:name=".activity.OpinionAct"/>
        <activity android:name=".activity.LiwuAct"/>
        <activity android:name=".activity.SettingAct"/>
        <activity android:name=".activity.BlackList"/>
        <activity android:name=".activity.ChangePhoneAct"/>
        <activity android:name=".activity.ResetPswAct"/>
        <activity android:name=".activity.FinsActivity"/>
        <activity android:name=".activity.MyLoveAct"/>
        <activity android:name=".activity.MyZhangDanAct"/>
        <activity android:name=".activity.EditInfoAct"/>
        <activity android:name=".activity.UserInfoAct"/>
        <activity android:name=".activity.JubaoAct"/>
        <activity android:name=".activity.MyActivity"/>
        <activity android:name=".activity.FangdaPicAct"/>
        <activity android:name=".activity.PaihangAct"/>
        <activity android:name=".activity.SendTxtAndYuyinAct"/>
        <activity android:name=".activity.SendYuyinAct"/>
        <activity android:name=".activity.LiwuTsetAct"/>
    </application>

</manifest>